

/* 화면 중앙에 고정 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;   /* 가로 중앙 */
  align-items: center;       /* 세로 중앙 */
  overflow: hidden;
}

.buttonadmin4jsp {
  	width: 2002px;
  	height: 956px;
  	position: relative;
  	background-color: #44444e;
  	text-align: left;
  	font-size: 13.93px;
  	color: #b8cfce;
  	font-family: 'NanumSquare Neo OTF';
}
.copyright {
  	position: absolute;
  	bottom: 28.01px;
  	left: calc(50% - 162.47px);
  	width: 324px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.div {
  	position: absolute;
  	top: calc(50% - 421.98px);
  	left: 255px;
  	border-radius: 11.02px;
  	background-color: #37353e;
  	width: 1615.1px;
  	height: 844.9px;
  	font-size: 14.94px;
  	color: #eaefef;
}
.buttonadmin4jsp-div {
  	position: absolute;
  	top: 43.88px;
  	left: 51.35px;
  	border-radius: 9.34px;
  	background-color: #44444e;
  	width: 1276.2px;
  	height: 12.1px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 12.1px 0px 10.3px;
  	box-sizing: border-box;
}
.div2 {
  	position: absolute;
  	top: 43.88px;
  	left: 1490.95px;
  	border-radius: 9.34px;
  	background-color: #44444e;
  	width: 72.8px;
  	height: 12.1px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 12.1px 0px 10.3px;
  	box-sizing: border-box;
}
button.div3 {
	all: unset;
	cursor: pointer;
  	position: absolute;
  	top: 37.34px;
  	left: 1349.04px;
  	width: 120.4px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 8.1px;
  	text-align: center;
  	color: #b8cfce;
}
.icon {
  	height: 23.3px;
  	width: 23.3px;
  	position: relative;
}
.b {
  	position: relative;
  	font-weight: 500;
  	margin-top: 2px;
}

.bb {
	font-weight: 500;
}
b.b {
	font-weight: 500;
}

div.b {
	font-weight: 300;
}
.div4 {
  	position: absolute;
  	top: 100.83px;
  	left: 55.08px;
  	width: 223.1px;
  	height: 63.5px;
  	font-size: 18.37px;
  	color: #b8cfce;
}
.b2 {
  	position: absolute;
  	top: 42.95px;
  	left: 0px;
  	display: inline-block;
  	width: 223.1px;
}
.zer0-accident {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 223.1px;
  	height: 34.5px;
  	font-size: 31.61px;
}
.buttonadmin4jsp-zer0-accident {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	letter-spacing: -0.06em;
  	font-weight: 800;
  	background: linear-gradient(90deg, #979c9c, #b8cfce 50%, #7f8caa);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.div5 {
  	position: absolute;
  	top: 212.86px;
  	left: 51.35px;
  	border-radius: 9.9px;
  	background-color: #44444e;
  	width: 225.9px;
  	height: 378.1px;
  	font-size: 13.95px;
}
.div6 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 112.95px);
  	width: 225.9px;
  	height: 38.1px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-end;
  	padding: 0px 15.9px;
  	box-sizing: border-box;
  	gap: 9.3px;
}
.wrapper {
  	width: 60.4px;
  	height: 13.9px;
  	position: relative;
}
.div7 {
  	position: absolute;
  	top: 0px;
  	left: 2.79px;
  	letter-spacing: 0.44px;
  	line-height: 13.13px;
  	text-transform: uppercase;
  	font-weight: 700;
  	white-space: nowrap;      /* ✅ 줄바꿈 방지 */
  	line-height: normal;      /* 줄 간격 기본값으로 복귀 */
  	
}
.div8 {
  	width: 100px;
  	height: 3px;
  	position: relative;
  	border-radius: 1.83px;
  	background-color: #686363;
  	margin-top: 1px;
}
.div9 {
  	position: absolute;
  	top: 304.35px;
  	left: calc(50% - 93.34px);
  	border-radius: 1.83px;
  	background-color: #eaefef;
  	width: 186.7px;
  	height: 3px;
}
.inner {
  	position: absolute;
  	top: 68.15px;
  	left: calc(50% - 99.88px);
  	width: 198.9px;
  	height: 182.1px;
  	font-size: 12.95px;
}
.parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 189.5px;
  	height: 182.1px;
}
.div10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9.9px;
  	background-color: #37353e;
  	width: 124.2px;
  	height: 182.1px;
}
.frame-parent {
  	position: absolute;
  	top: calc(50% - 66.78px);
  	left: calc(50% - 86.35px);
  	display: flex;
  	align-items: center;
  	gap: 36.4px;
}
.frame-group {
  	width: 105.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 20.5px;
  	top:10px;
}
.frame-container {
  	display: inline-flex;
  	align-items: center;
  	gap: 9.3px;
}
.bar-chart-2-wrapper {
  	display: flex;
  	align-items: center;
}
.bar-chart-2 {
  	height: 18.7px;
  	width: 18.7px;
  	position: relative;
  	flex-shrink: 0;
  	align-items: center;
}
.buttonadmin4jsp-icon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: -5%;
  	right: 25.3%;
  	bottom: 25%;
  	left: 24.96%;
  	max-width: 100%;
  	max-height: 100%;
}
.container {
  	height: 18.7px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.b3 {
  	position: relative;
  	line-height: 14.06px;
  	text-transform: uppercase;
  	white-space: nowrap;
  	word-spacing: -2px;
  	font-weight: 300;
  	
}
.frame-div {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	gap: 9.3px;
}
.frame-parent3 {
  	width: 39.2px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: center;
  	gap: 24.3px;
  	text-align: right;
  	font-size: 18.7px;
  	color: #7f8caa;
}
.wrapper3 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
}
.span {
  	font-weight:700;
  	margin-right: -2px;
}

.danger-num {
	font-weight:700;
	letter-spacing:0.5px;
}


.b7 {
  	font-size: 12.9px;
  	color: #eaefef;
  	font-weight: 300;
}
.wrapper5 {
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
}
.wrapper7 {
  	position: absolute;
  	top: 327.69px;
  	left: 131px;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	text-align: right;
  	font-size: 24.5px;
  	color: #cc8889;
  	
}
.div15 {
  	position: relative;
  	line-height: 18.46px;
  	text-transform: uppercase;
  	white-space: nowrap;
  	right: 1px;
  	
}
.span5 {
  	font-size: 17px;
  	font-weight:500;
  	color: #eaefef;
  	
}

.div16 {
  position: absolute;
  top: 212.86px;
  left: 329.56px;
  border-radius: 9.9px;
  background-color: #44444e;
  width: 1234.2px;
  height: 588.2px;
  font-size: 18.09px;
  overflow-y: auto;
  overflow-x: hidden;
}

.div17 {
  margin-top: 32px;
  margin-left: -15.72px;
  width: 1150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
  align-items: start;
  position: relative;
  box-sizing: content-box;
  padding-bottom: 50px;
}

/* 스크롤 커스텀*/
.div16::-webkit-scrollbar {
  width: 8px;
}
.div16::-webkit-scrollbar-thumb {
  background-color: #5f5f6e;
  border-radius: 10px;
}
.div16::-webkit-scrollbar-track {
  background-color: #2e2e36;
}







.div45 {
  width: calc((1234px - (40px * 3)) / 4); /* 카드 4개 맞춤 계산식 */
  max-width: 200px;                       /* 혹시 모를 overflow 방지 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: scale(0.75);
  height: calc(364px * 0.75); /* 실제 높이도 같이 줄임 */
}






.div18 {
  	height: 364.9px;
  	width: 350px;
  	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 12px 11.9px;
  	color: #fff;
}

/* 경고 버튼 scale 조정 애니메이션 효과 */
.div23, .div51 {
  /* pulse-icon 애니메이션 효과를 1.2초 간격으로 무한 반복하겠다. */
  animation: pulse-icon 1.2s ease-in-out infinite;
}

/* pulse-icon 정의 */
@keyframes pulse-icon {
  /* 시작 지점 : 크기, 투명도 그대로 */
  0% { transform: scale(1); opacity: 1; }
  /* 중간 지점 : 크기 1.05배, 투명도 0.8 */
  50% { transform: scale(1.05); opacity: 0.8; }
  /* 끝 지점 : 크기, 투명도 돌아옴 */
  100% { transform: scale(1); opacity: 1; }
}

/* 경고 버튼에 마우스를 올렸을 때 */
.div23:hover, .div51:hover {
	/* 마우스 올리면 애니메이션 멈춤 */
	animation-play-state: paused;
	/* 크기 1.05배 */ 
	transform: scale(1.05) !important;
	/* 투명도 1 */ 
	opacity: 1 !important;
	/* 부드럽게 크기 조정됨 */ 
	transition: transform 0.25s ease, box-shadow 0.25s ease !important;
	
}


.div19 {
  	height: 35.5px;
  	width: 350px;
  	border-radius: 12.97px;
  	background-color: #37353e;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 12.4px;
  	box-sizing: border-box;
  	gap: 20px;
  	text-align: right;
  	font-size: 17.9px;
}
.circle-red {
  	height: 21px;
  	width: 21px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #d07b7b;
}
.l00000212-parent {
  	display: flex;
  	align-items: center;
  	gap: 8.5px;
}
.frame-child {
  	height: 22.6px;
  	width: 1.8px;
  	position: relative;
  	border-right: 1.8px solid #686363;
  	box-sizing: border-box;
}
.wrapper8 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: left;
  	color: #d07b7b;
}
.div21 {
  	height: 175px;
  	width: 280.2px;
  	border-radius: 12.97px;
  	background-color: #37353e;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
}
.alert-btn {
  	height: 175px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

button.alert-btn {
  all: unset;                 /* 브라우저 기본 스타일 제거 */
  display: block;             /* div처럼 block으로 표시 */
  cursor: pointer;            /* 커서 모양 변경 */
  
}

.div23 {
  	width: 57.5px;
  	height: 175px;
  	border-radius: 12.97px;
  	background-color: #d07b7b;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
}
.div23_2 {
  	width: 57.5px;
  	height: 175px;
  	border-radius: 12.97px;
  	background-color:  #fcb859;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
}
.alert-triangle {
  	width: 25.7px;
  	height: 25.7px;
  	position: relative;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.icon5 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	
}
.div24 {
  	height: 129.3px;
  	width: 350px;
  	border-radius: 12.97px;
  	background-color: #37353e;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
  	color: #eaefef;
}
.frame-parent4 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 7px;
}
.wrapper10 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	color: #b8cfce;
}
.s101-wrapper {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 17.9px;
}

.div46 {
  	width: 350px;
  	display: flex;
  	align-items: flex-end;
  	flex-wrap: wrap;
  	align-content: flex-end;
  	gap: 12.2px;
}
.div47 {
  	height: 35.5px;
  	width: 350px;
  	border-radius: 12.97px;
  	background-color: #37353e;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 12.4px;
  	box-sizing: border-box;
  	gap: 20px;
  	font-size: 17.9px;
}
.circle-yellow {
  	height: 21px;
  	width: 21px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #fcb859;
}
div.div48 {
  	position: relative;
  	font-size: 18.09px;
  	color: #feb95a;
  	
}
.div49 {
  	height: 175px;
  	width: 280.2px;
  	border-radius: 12.97px;
  	background-color: #37353e;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
  	color: #fff;
}
.div51 {
  	width: 57.5px;
  	height: 175px;
  	border-radius: 12.97px;
  	background-color: #7f8caa;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
  	gap: 18.4px;
}
.icon8 {
  	position: absolute;
  	height: 110%;
  	width: 110%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.buttonadmin4jsp-volume-2 {
  	width: 25.7px;
  	height: 25.7px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.div52 {
  	height: 129.3px;
  	width: 350px;
  	border-radius: 12.97px;
  	background-color: #37353e;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
}
.wrapper25 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 16.39px;
}
.div61 {
  	width: 57.5px;
  	height: 175px;
  	border-radius: 12.97px;
  	background-color: #7f8caa;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 12.4px;
  	box-sizing: border-box;
}
.circle-blue {
  	height: 21px;
  	width: 21px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #7f8caa;
}
.div78 {
  	position: relative;
  	font-size: 18.09px;
  	color: #7f8caa;
  	
}

.div110 {
  	position: absolute;
  	top: 176.45px;
  	left: 348.23px;
  	font-size: 22.41px;
  	letter-spacing: 0.44px;
  	line-height: 13.18px;
  	text-transform: uppercase;
  	font-weight: 700;
  	color: #fff;
}

.adminName {
	font-weight: 300;
	margin-top: 2px;
}
.text-circle-red {
    color:  #d07b7b !important;
}

.text-circle-yellow {
    color:  #fcb859 !important;
}

.text-circle-blue {
    color: #7f8caa !important;
}




