@charset "UTF-8";

.status-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #44444e;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 38px;
    box-sizing: border-box;
    gap: 0px;
    color: #fff;
    font-family: 'SF Pro Display';
    
}
.time {
    width: 45px;
    position: relative;
    height: 17px;
}
.clock {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}
.hours {
    position: relative;
    font-weight: 500;
}
.location_arrow {
    position: relative;
    height: 70.59%;
    width: 26.67%;
    top: 5.73%;
    right: 0%;
    bottom: 14.68%;
    left: 73.33%;
    max-width: 100%;
    
    max-height: 100%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8.5px;
}
.cellular_signal {
    width: 18px;
    position: relative;
    height: 10px;
}
.bar-1-icon {
    position: absolute;
    height: 40%;
    width: 16.67%;
    top: 60%;
    right: 83.33%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
   
    max-height: 100%;
}
.bar-2-icon {
    position: absolute;
    height: 60%;
    width: 16.67%;
    top: 40%;
    right: 55.56%;
    bottom: 0%;
    left: 27.78%;
    max-width: 100%;
    
    max-height: 100%;
}
.bar-3-icon {
    position: absolute;
    height: 80%;
    width: 16.67%;
    top: 20%;
    right: 27.78%;
    bottom: 0%;
    left: 55.56%;
    max-width: 100%;
    
    max-height: 100%;
}
.bar-4-icon {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 83.33%;
    max-width: 100%;
   
    max-height: 100%;
}
.wifi {
    width: 16px;
    position: relative;
    height: 11.6px;
    flex-shrink: 0;
}
.logindriverjsp-bar-1-icon {
    position: absolute;
    height: 30.17%;
    width: 31.25%;
    top: 69.95%;
    right: 34.43%;
    bottom: -0.13%;
    left: 34.32%;
    max-width: 100%;
    
    max-height: 100%;
}
.logindriverjsp-bar-2-icon {
    position: absolute;
    height: 34.48%;
    width: 62.5%;
    top: 33.79%;
    right: 18.75%;
    bottom: 31.73%;
    left: 18.75%;
    max-width: 100%;
    
    max-height: 100%;
}
.logindriverjsp-bar-3-icon {
    position: absolute;
    height: 43.1%;
    width: 100%;
    top: 0.01%;
    right: 0.02%;
    bottom: 56.89%;
    left: -0.02%;
    max-width: 100%;
    
    max-height: 100%;
}
.battery {
    width: 24px;
    position: relative;
    height: 12px;
    flex-shrink: 0;
}
.border-icon {
    position: absolute;
    height: 100%;
    width: 87.5%;
    top: 0%;
    right: 12.5%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
   
    max-height: 100%;
    opacity: 0.4;
}
.indicator {
    position: absolute;
    height: 66.67%;
    width: 70.83%;
    top: 16.67%;
    right: 20.83%;
    bottom: 16.67%;
    left: 8.33%;
    border-radius: 1px;
    background-color: #fff;
}
.cap-icon {
    position: absolute;
    height: 33.33%;
    width: 8.33%;
    top: 33.33%;
    right: 0%;
    bottom: 33.33%;
    left: 91.67%;
    max-width: 100%;
    
    max-height: 100%;
    opacity: 0.4;
}
.logo_1 {
    position: absolute;
    width: 100%;
    top: 49px;
    right: 0px;
    left: 0px;
    background-color: #44444e;
    height: 33px;
    display: flex;
    align-items: center;
    padding: 0px 26px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24.08px;
    color: #7f8caa;
}
.small {
    width: 40px;
    position: relative;
    height: 27px;
   
    flex-shrink: 0;
}
.logo_deco_1 {
    position: absolute;
    top: 11.17px;
    left: 1.34px;
    background: linear-gradient(90deg, #8c8c8c, #b8cfce 50%, #7f8caa);
    width: 17px;
    height: 3.6px;
}
.logo-text {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.29em;
    font-weight: 800;
}
.span {
    color: #b8cfce;
}
.a {
    color: #ababab;
}
.logo_deco_2 {
    position: absolute;
    top: 9.31px;
    left: 32.5px;
    width: 2.4px;
    height: 2.5px;
}
.logo_deco_3 {
    position: absolute;
    top: 14.67px;
    left: 34.5px;
    width: 2.3px;
    height: 2.5px;
}


