@charset "UTF-8";

body {
  display: flex;
  justify-content: center;  /* 가로 가운데 정렬 */
  align-items: center;      /* 세로 가운데 정렬 */
  min-height: 100vh;        /* 브라우저 세로 전체 높이 사용 */
  margin: 0;
  background-color: #ffffff; /* 필요 시 배경색 */
}

.container {
    width: 440px;
    height: 956px;
    position: relative;
    display: flex;
  	justify-content: center; /* 가로 중앙 정렬 */
  	align-items: center;    /* 세로 중앙 정렬 */
    border-radius: 50px;
    background-color: #44444e;
    height: 956px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: #b8cfce;
    font-family: 'NanumSquare Neo OTF';
    
  	
}

/* 크롬, 사파리 자동완성 배경색 없애기 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #37353e inset; /* 배경을 기존 색상으로 덮기 */
  -webkit-text-fill-color: #B8CFCE;                 /* 글씨 색상 */
  transition: background-color 5000s ease-in-out 0s; /* 배경색 전환 트릭 */
}

/* 포커스 되었을 때도 동일하게 적용 */
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #37353e inset;
  -webkit-text-fill-color: #B8CFCE;
}


button {
  cursor: pointer;        /* 손 모양 유지 */
  user-select: none;      /* 텍스트 선택 방지 → I-빔 커서 안 뜸 */
}

button span, 
button div {
  cursor: inherit;        /* 부모의 손 모양 따라감 */
  user-select: none;      /* 텍스트 선택 방지 */
}



.status-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #44444e;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 38px;
    box-sizing: border-box;
    gap: 0px;
    color: #fff;
    font-family: 'SF Pro Display';
}
.time {
    width: 45px;
    position: relative;
    height: 17px;
}
.clock {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}
.hours {
    position: relative;
    font-weight: 500;
}
.location_arrow {
    position: relative;
    height: 70.59%;
    width: 26.67%;
    top: 5.73%;
    right: 0%;
    bottom: 14.68%;
    left: 73.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8.5px;
}
.cellular_signal {
    width: 18px;
    position: relative;
    height: 10px;
}
.bar-1-icon {
    position: absolute;
    height: 40%;
    width: 16.67%;
    top: 60%;
    right: 83.33%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.bar-2-icon {
    position: absolute;
    height: 60%;
    width: 16.67%;
    top: 40%;
    right: 55.56%;
    bottom: 0%;
    left: 27.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.bar-3-icon {
    position: absolute;
    height: 80%;
    width: 16.67%;
    top: 20%;
    right: 27.78%;
    bottom: 0%;
    left: 55.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.bar-4-icon {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 83.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wifi {
    width: 16px;
    position: relative;
    height: 11.6px;
    flex-shrink: 0;
}
.logindriverjsp-bar-1-icon {
    position: absolute;
    height: 30.17%;
    width: 31.25%;
    top: 69.95%;
    right: 34.43%;
    bottom: -0.13%;
    left: 34.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logindriverjsp-bar-2-icon {
    position: absolute;
    height: 34.48%;
    width: 62.5%;
    top: 33.79%;
    right: 18.75%;
    bottom: 31.73%;
    left: 18.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logindriverjsp-bar-3-icon {
    position: absolute;
    height: 43.1%;
    width: 100%;
    top: 0.01%;
    right: 0.02%;
    bottom: 56.89%;
    left: -0.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.battery {
    width: 24px;
    position: relative;
    height: 12px;
    flex-shrink: 0;
}
.border-icon {
    position: absolute;
    height: 100%;
    width: 87.5%;
    top: 0%;
    right: 12.5%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
}
.indicator {
    position: absolute;
    height: 66.67%;
    width: 70.83%;
    top: 16.67%;
    right: 20.83%;
    bottom: 16.67%;
    left: 8.33%;
    border-radius: 1px;
    background-color: #fff;
}
.cap-icon {
    position: absolute;
    height: 33.33%;
    width: 8.33%;
    top: 33.33%;
    right: 0%;
    bottom: 33.33%;
    left: 91.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
}
.logo_1 {
    position: absolute;
    width: 100%;
    top: 49px;
    right: 0px;
    left: 0px;
    background-color: #44444e;
    height: 33px;
    display: flex;
    align-items: center;
    padding: 0px 26px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24.08px;
    color: #7f8caa;
}
.small {
    width: 40px;
    position: relative;
    height: 27px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo_deco_1 {
    position: absolute;
    top: 11.17px;
    left: 1.34px;
    background: linear-gradient(90deg, #8c8c8c, #b8cfce 50%, #7f8caa);
    width: 17px;
    height: 3.6px;
}
.logo-text {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.29em;
    font-weight: 800;
}
.span {
    color: #b8cfce;
}
.a {
    color: #ababab;
}
.logo_deco_2 {
    position: absolute;
    top: 9.31px;
    left: 32.5px;
    width: 2.4px;
    height: 2.5px;
}
.logo_deco_3 {
    position: absolute;
    top: 14.67px;
    left: 34.5px;
    width: 2.3px;
    height: 2.5px;
}
.logo_2 {
    position: absolute;
    top: 151px;
    right: 40px;
    width: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 23px;
}
.zer0-accident {
    align-self: stretch;
    position: relative;
    height: 51px;
}
.text_logo {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: -0.06em;
    font-weight: 800;
    background: linear-gradient(90deg, #979c9c, #b8cfce 50%, #7f8caa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.zer0- {
    margin: 0;
    white-space: pre-wrap;
}
.accident {
    margin: 0;
}
.title {
    position: absolute;
    top: 254px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #7f8caa;
}
.title_text {
    position: relative;
    font-weight: 800;
}
.input_id {
    position: absolute;
    height: calc(100% - 911px);
    top: 299px;
    bottom: 612px;
    left: calc(50% - 180px);
    border-radius: 8.79px;
    background-color: #37353e;
    border: 1px solid #b8cfce;
    box-sizing: border-box;
    width: 360px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 15px;
}
.b {
    position: relative;
}
.input_pwd {
    position: absolute;
    width: calc(100% - 80px);
    top: 364px;
    right: 40px;
    left: 40px;
    border-radius: 8.79px;
    background-color: #37353e;
    border: 1px solid #b8cfce;
    box-sizing: border-box;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 15px;
}

input[type="text"],
input[type="password"] {
  color: #B8CFCE; 
}

input::placeholder {
    color: #B8CFCE;
    font-size: 17px; 
  }
  
.close .icon {
  width: 24px;     /* 원하는 크기 */
  height: 24px;    /* 비율 유지하려면 height 생략 가능 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  position: absolute;
  top: 80px;     /* 위쪽 여백 */
  left: 375px;
}


.div5 {
    position: absolute;
    top: 429px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logindriverjsp-checkbox {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 12px;
}
.checkbox2 {
    width: 16px;
    border-radius: 4px;
    background-color: #7f8caa;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.icon {
    position: absolute;
    height: 45.63%;
    width: 66.88%;
    top: 25%;
    right: 16.46%;
    bottom: 29.37%;
    left: 16.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div6 {
    width: 212px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    flex-shrink: 0;
}
.description-row {
    width: 240px;
    display: none;
    align-items: center;
    gap: 12px;
    color: #757575;
    font-family: Inter;
}
.description {
    width: 212px;
    position: relative;
    line-height: 140%;
    display: none;
}
.button {
    position: absolute;
    height: calc(100% - 896px);
    width: calc(100% - 80px);
    top: 471px;
    right: 40px;
    bottom: 425px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #7f8caa;
}
.btn_login {
    align-self: stretch;
    border-radius: 8.79px;
    background-color: #eaefef;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 0px;
    box-sizing: border-box;
}
.login_text {
    font-weight: 800;
}

.div8 {
    position: absolute;
    top: 549px;
    left: calc(50% - 133px);
    width: 276px;
    display: flex;
    justify-content: center;      /* 가로 가운데 정렬 */
    align-items: center;
    gap: 12px;
}
.div9 {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 구분선 */
.bar-icon {
    height: 15px;
    width: 0;                     /* 세로선의 너비 */
    border-width: 1px;            /* 선 두께 */
    border-style: solid;          /* 선 스타일 */
    border-color: #B8CFCE;        /* 선 색상 */
    margin: 0 12px;               /* 텍스트와의 간격 */
}

.div10 {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-icon {
    position: absolute;
    width: calc(100% - 80px);
    right: 40px;
    bottom: 136.8px;
    left: 40px;
    max-width: 100%;
    overflow: hidden;
    height: 3.2px;
}
.btn_join {
  position: absolute;
  width: calc(100% - 80px);
  left: 40px;
  bottom: 57px;
  border-radius: 37.67px;
  background-color: #37353e;
  border: 3px solid #b8cfce;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer !important;
  z-index: 9999; /* 다른 요소보다 위에 */
}

.btn_join,
.btn_join * {
  cursor: pointer !important; /* 버튼 내부 span까지 적용 */
}


.btn_join,
.btn_join * {
  cursor: pointer !important;
}


.btn_join {
  position: absolute;
  z-index: 9999;
}

.join_text {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    font-family: 'NanumSquare Neo OTF';
    color: #b8cfce;
    text-align: center;
    
}


.copyright {
    position: absolute;
    width: calc(100% - 254px);
    right: 127px;
    bottom: 17px;
    left: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }

/* 구분선 */
.divider-line {
    width: 100%;
    height: 1px;
    background: #B8CFCE;
    margin: -20px 40px -700px 40px;
  }
  
  /* 모든 입력창의 글씨 크기를 키움 */
input[type="text"],
input[type="password"] {
  font-size: 17px;     /* 글씨 크기 */
  color: #ffffff;      /* 입력 글씨 색상 (선택) */
}

.btn_join {
  background-color: #44444E;   /* 기본 배경 */
  color: #B8CFCE;             /* 기본 글자색 */
  border: 1px solid #B8CFCE;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.4s ease;  /* 부드럽게 색상 전환 */
}

.btn_join:hover {
  background-color: #B8CFCE;  /* hover 시 배경 */
  color: #44444E;            /* hover 시 글자색 */
  border-color: #44444E;
}

.btn_join:hover,
.btn_join:hover * {
  color: #44444E;   /* 버튼 내부의 모든 글자색 변경 */
}

  

