<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.web.mapper.LoginMapper">

<!-- 로그인 정보 세션 쿼리문 -->
<select id="findByAdminId" parameterType="string" resultType="com.smhrd.web.entity.Admin">
    SELECT
    a.*,
    COALESCE(dc.cnt, 0) AS driverCount
    FROM tb_admin a
    LEFT JOIN (
	    SELECT admin_idx, COUNT(*) AS cnt
	    FROM tb_driver
	    GROUP BY admin_idx
	  ) dc ON dc.admin_idx = a.admin_idx
    WHERE admin_id = #{adminId}
</select>

<select id="findByDriverId" parameterType="string" resultType="com.smhrd.web.entity.Driver">
    SELECT *
    FROM tb_driver
    WHERE driver_id = #{driverId}
</select>
	
</mapper>